{layout name="layout" /}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">菜单列表</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <a href="{:url('admin/role/add')}" class="btn btn-success">添加</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table  table-bordered table-hover">
                        <tr class="active">
                            <th><input class="check-all" type="checkbox" value=""></th>
                            <th>角色名称</th>
                            <th>用户数量</th>
                            <th>是否启用</th>
                            <th>操作</th>
                        </tr>
                       
                       {volist name="lists" id="list"}
                       <tr>
                           <td>
                               <input class="check" type="checkbox" value="{$list.id}">
                           </td>
                           <td>{$list.name}</td>
                           <td>{$list.user_count}</td>
                           <td>{$list.status}</td>
                           <td>
                                <a class="btn btn-xs btn-default" href="{:url('admin/role/edit',['id'=>$list['id']])}">编辑</a>
                                <a class="btn btn-xs btn-default delete" href="{:url('admin/role/destroy',['id'=>$list['id']])}">删除</a>
                           </td>
                       </tr>
                       {/volist}
                    </table>
                </div>
            </div>
            <div class="panel-footer">
            {$pages}
            </div>
        </div>
    </div>
</div>