{layout name="layout" /}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">添加焦点图位置</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8">
                        <form action="{:url('admin/focusposition/edit',['id'=>$positionRow['id']])}" class="form-horizontal ajax-form" method="post" name="rule">
                            <div class="form-group">
                                <label for="inputname" class="col-sm-3 control-label">调用代码</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" value="{$positionRow.code}" name="code" id="inputname" placeholder="标题">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="inputurl"> 调用名称 </label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" value="{$positionRow.name}" name="name" id="inputurl" placeholder="链接地址">
                                </div>
                            </div>
                          
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-primary">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(function(argument) {
    $('form.ajax-form').formLuffyZhao([{
        name: "code",
        display: '调用代码',
        rules: 'required'
    },{
        name: "name",
        display: '调用名称',
        rules: 'required'
    }
    ]);

});
</script>
