{layout name="layout" /}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">菜单列表</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <a href="{:url('admin/user/add')}" class="btn btn-success">添加</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table  table-bordered table-hover">
                        <tr class="active">
                            <th><input class="check-all" type="checkbox" value=""></th>
                            <th>邮箱</th>
                            <th>姓名</th>
                            <th>用户组</th>
                            <th>性别</th>
                            <th>生日</th>
                            <th>联系电话</th>
                            <th>操作</th>
                        </tr>
                        {volist name="$userRows" id="vo"}
                        <tr>
                            <td><input class="check-item" type="checkbox" value="{$vo.id}"></td>
                            <td>
                                {$vo.email}
                            </td>
                            <td>
                                {$vo.name}
                            </td>
                            <td>
                                {:$vo->role->name}
                            </td>
                            <td>{$vo.sex}</td>
                            <td>{$vo.birthday}</td>
                            <td>{$vo.tel}</td>
                            <td>
                                <a class="btn btn-xs btn-default" href="{:url('admin/user/edit',['id'=>$vo['id']])}">编辑</a>
                                <a class="btn btn-xs btn-default delete" href="{:url('admin/user/destroy',['id'=>$vo['id']])}">删除</a>
                            </td>
                        </tr>
                        {/volist}
                    </table>
                </div>
            </div>
            <div class="panel-footer">
            {$pages}
            </div>
        </div>
    </div>
</div>